.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.translateContainer {
  transform: translateX(+100%);
}

.horizontalLine {
  height: 0.3rem;
  width: 100%;
  background-color: white;
  margin: auto;
}

@media screen and (max-width: 790px) {
  .container {
    width: 100%;
    padding: 0px;
    justify-content: center;
  }
  .translateContainer {
    transform: translateX(0px);
  }
  .horizontalLine {
    display: none;
  }
}
